@charset "utf-8";

html{
	overflow-y:scroll;
	overflow-x:hidden;
}
html, body{
	margin:0;
	padding:0;
	font-size:16px;
	line-height: normal;
	font-family: "Trebuchet MS", serif;
}
body{
	color:#A8A8A8;
	background-color:#202020
}
*, *::before, *::after{
	box-sizing:border-box;
}

.noSpace{
	padding:0;
	list-style:none;
}

.borderedBox{
	border:1px solid #D7D7D7;
	margin-top: 40px;
	display: block;
	padding:10px;
}
.overlay{
	color:#FFFFFF;
	background-color:inherit;
	position:relative;
	z-index:1;
}
.overlay::after{
	color:inherit;
	background-color:rgba(0,0,0,.55);
	display:block;
	position:absolute;
	top:0; left:0;
	width:100%; height:100%;
	content:"";
	z-index:-1;
}
.btn{
	border-radius:14px;
	display:inline-block;
	padding:8px 25px 10px;
	text-transform:uppercase;
	font-size:1rem; font-weight:400;
	border:1px solid;
}

blockquote{
	display:block;
	position:relative;
	width:100%;
	margin:0; padding:30px;
	line-height:1.4;
	z-index:1;
}
blockquote::before{
	display:block;
	position:absolute;
	top:0; left:0;
	font-weight:900;
	font-size:60px;
	line-height:60px;
	content:"\f10d";
	z-index:-1;
}

.clear{
	display:block;
}
.clear::before, .clear::after{
	display:table;
	content:"";
}
.clear, .clear::after{
	clear:both;
}

a{
	color: #5b75c2;
	outline:none;
	text-decoration:none;
}

.fl_right{
	float:right;
}

img{
	width:auto;
	max-width:100%;
	height:auto;
	margin-bottom:15px;
	padding:0;
	border:none;
	line-height:normal;
	vertical-align:middle;
}

h3, h6, .heading {
	margin:10px 0 10px 0;
	font-size:28px;
	line-height:normal;
	font-weight:normal;
	font-family: Helvetica, serif;
}

.wrapper{
	display:block;
	position:relative;
	width:100%;
	margin:0; padding:0;
	text-align:left;
	word-wrap:break-word;
}

.hoc{
	display:block;
	margin:0 auto;
}

article, figcaption, figure, footer, header, nav, section{
	display:block;
	margin:0;
	padding:0;
}

.one_half, .one_third{
	display:inline-block;
	float:left;
	margin:0 0 0 4%;
	list-style:none;
}

.first{
	margin-left:0;
	clear:left;
}

.one_third{
	width:30.6%;
}

.one_half{
	width:47.9%;
}

.bgd{
	background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;
}

#header{
	border-color:rgba(255,255,255,.1);
	border-bottom:1px solid;
}

#pageintro{
	color:#FFFFFF;
	padding:200px 0;
}
#pageintro article{
	display:block;
	max-width:60%;
	margin:0 auto;
	text-transform:capitalize;
	text-align:center;
}
#pageintro article p:first-of-type{
	margin:0 0 30px 0;
	padding:0;
	font-size:32px;
}
#pageintro .heading{
	font-size:72px;
}

.container{
	padding:80px 0;
}

.sectionTitle{
	display:block;
	max-width:55%;
	margin:0 auto 60px;
	text-align:center;
	font-size: 18px;
	font-family: "Segoe Script", serif;
}

.points{
	color:#474747;
	background-color:#FFFFFF;
	padding:30px;
	border-radius:40px 0;
}
.points ul{
	padding-top:15px;
}
.points li{
	position:relative;
	min-height:60px;
	margin:0 0 30px 0;
	padding:5px 0 0 80px;
	line-height:1;
}
.points li:last-child{
	margin:0;
}
.points li .heading{
	margin:0 0 10px 0;
}
.points li p{
	margin:0;
	line-height:24px;
}
.points li a{
	color:inherit;
	background-color:rgba(130,139,244,.1)
}
.points li:hover a{
	color:#FFFFFF;
	background-color: #3b5c81;
}

#list article{
	text-align:center;
}
#list article .heading{
	margin:20px 0 15px 0;
}
#list article figure figcaption p{
	margin:0 0 20px 0;
}

#footer{
	padding:80px 0 50px;
}

*, *::before, *::after{
	transition:all .3s ease-in-out;
}

nav ul{
	margin:0;
	padding:0;
	list-style:none;
}

#mainNav ul{
	text-transform:uppercase;
	font-size: 14px;
	font-family: Verdana, serif;
}
#mainNav li{
	display:inline-block;
	position:relative;
	margin:0 15px 0 0;
	padding:0;}
#mainNav li:last-child{
	margin-right:0;
}
#mainNav li a{
	color:inherit;
	display:block;
	padding:30px 0;
}
#mainNav .active a, #mainNav a:hover, #mainNav li:hover > a{
	color: #547fec;
	background-color:inherit;
}

.btn, .btn.inverse:hover{
	color:#FFFFFF;
	background-color: #6c85d3;
	border-color: #4e6ec9;
}
.btn:hover, .btn.inverse{
	color:inherit;
	background-color:transparent;
	border-color:inherit;
}

.row{
	color:#474747;
	background-color:#F4F4F4;
}

/* Збільшення картинки
--------------------------------------------------------------------------------------------------------------- */
.scale {
	transition: 1s; 
}
.scale:hover {
	transform: scale(1.2); 
}
.blocked{
	display: inline-block;
	overflow: hidden;
}
#pools li{
	border: 1px solid red;
}

/* Відгуки */
#testimonials article{
	text-align:center;
}
#testimonials article *{
	margin:0; padding:0;
}
#testimonials article figure{
	display:inline-block;
	margin-bottom:20px;
}
#testimonials article figure img{
	float:left;
	margin-right:15px;
	border-radius:50%;
}
#testimonials article figure figcaption{
	float:left;
	margin-top:30px;
	font-size:1.4rem;
	text-align:left;
}
#testimonials article figure figcaption .heading{
	font-size:1.4rem;
}
#testimonials article blockquote{
	margin:15px;
	padding:20px;
	border-radius:25px 0;
	color:#474747;
	background-color:#FFFFFF;
}
#testimonials article blockquote::before{
	top:15px;
	left:15px;
	font-size:30px;
	line-height:30px;
}
#testimonials article blockquote::before{
	color:rgba(0,0,0,.05);
}

.space{
	margin-left: 80px;
	color: darkred;
}

/* Підгін сторінки для різних розмірів екрану
---------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1140px){
	.hoc{
		max-width:1140px;
	}
}
@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{
		max-width:95%;
	}
}
@media screen and (max-width:978px){
	.hoc{
		max-width:90%;
	}
	#header{
		padding:30px 0;
	}
	#mainNav ul{
		display:none;
	}
	.container{}
	#footer{}
}
@media screen and (max-width:750px){
	.fl_right{
		display:block;
		float:none;
	}
	.one_half, .one_third{
		display:block;
		float:none;
		width:auto;
		margin:0 0 30px 0;
	}
	#header{
		text-align:center;
	}
	#pageintro article{
		max-width:none;
	}
	#pageintro .heading{
		margin-bottom:20px; font-size:2.5rem;
	}
	.sectionTitle{
		max-width:none;
	}
	.points ul{
		padding-top:0;
	}
}
@media screen and (max-width:450px){
	.points{
		padding:35px 25px;
		border-radius:25px 0;
	}
	.points li{
		padding:0;
	}
}
